<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <h1 class="Login-header">Login</h1>
    <div>
        <form action="{{ url_for('login') }}" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" required><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" required><br><br>
        <button style="display: block; margin: 10px auto; width: auto;">Login</button>
        </form>

    </div>
    <div>
        <button><a href="{{ url_for('reset_password') }}">Reset password</a></button>
        <button><a href="{{ url_for('index') }}">Home</a></button>
    </div>

</body>
</html>
