<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset_password.css')}}"
    />
    <title>Reset Password</title>
</head>
<body>
    <h1 class="header">Reset Password</h1>
    <div>
        <form action="{{ url_for('reset_password') }}" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" required><br><br>
        <label for="current_password">Current Password</label>
        <input type="password" name="current_password" required><br><br>
            <label for="new_password">New Password</label>
        <input type="password" name="new_password" required><br><br>
        <button style="display: block; margin: 10px auto; width: auto;">Reset</button>
        </form>

    </div>
    <div>
        <button><a href="{{ url_for('index') }}">Home</a></button>
    </div>
</body>
</html>